html {
  font-size: small;
  font-family: sans-serif;
  background: #080808;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
header {
  min-height: 180px;
  padding: 8px;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #222;
}
header > * {
  margin: 4px;
  border-radius: 12px;
  padding: 8px;
  display: inline-block;
  text-align: center;
}
/* Top-left box */
.summary {
  max-width: 160px;
  background: #100;
  border: 1px solid black;
}
.summary h2 {
  background: #900;
  border: 1px solid #700;
}
/* Center box */
#title {
  position: relative;
  background: #100800;
  vertical-align: top;
  height: 220px;
  width: 260px;
  border: 1px solid black;
}
#title > * {
  margin: 5px auto;
}
#title h1 {
  background: #C60;
  border: 1px solid #A40;
}
/* Top-right box */
nav {
  display: inline-block;
  position: relative;
  vertical-align: top;
  background: #001;
  text-align: center;
  border: 1px solid black;
  width: 170px;
  height: 160px;
}
nav > h2 {
  position: absolute;
  top: 8px;
  left: 12px;
  right: 12px;
  text-shadow: 1px 1px 2px #000;
  background: #009;
}
nav > ol {
  text-align: left;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.youarehere {
  font-weight: bold;
}

section {
  overflow: hidden;
  clear: both;
  margin: 4px;
  padding: 8px;
  text-align: center;
  border-radius: 12px;
  line-height: 1.5em;
}
section > p, section .paragraph {
  background-color: #0c0612;
  border-radius: 8px;
  overflow: hidden;
  margin: 4px;
  text-align: justify;
  border: 1px solid black;
}
.paragraph p {
  display: inline;
}
.paragraph ul {
  margin: 4px;
}
section > p, section .paragraph {
  padding: 8px;
}
section > h1 {
  /* http://meyerweb.com/eric/thoughts/2014/06/19/rebeccapurple/ */
  background: #639;
  border: 2px solid black;
}
section > h2 {
   background: #426;
   border: 1px solid black;
}
section li {
  text-align: left;
}
aside {
  position: relative;
  right: -3px;
  top: -3px;
  float: right;
  background-color: #110;
  border-radius: 12px;
  min-width: 224px;
  max-width: 30%;
  padding: 15px;
  margin-left: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
}
aside table {
  background: #440;
  margin: 8px 4px;
}
aside th, aside td {
  border: 1px solid #220;
  padding: 4px;
}
th {
  background: black;
}
tr.even td {
  background: #040404;
}
tr.odd td {
  background: #0A0A0A;
}
aside caption {
  border: 2px solid #440;
  border-bottom: 0;
  padding: 4px 1px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
figure {
  margin: 0;
  padding: 0;
}
figure img {
  margin: 2px;
}
figcaption {
  font-style: italic;
}
aside > h2 {
  background: #660;
  border-radius: 5px;
}
aside > p {
  font-size: 90%;
  text-align: left;
  line-height: 1.9em;
}
footer > p {
  border: 1px solid #222;
  padding: 6px;
  font-size: 80%;
  color: #BBB;
}
h1,h2,h3,h4,h5,h6 {
  font-family: serif;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  text-shadow: 1px 1px 2px black;
  display: inline-block;
/*  padding: 3px 10px 6px 10px;*/
}
h1 {
  font-size: x-large;
  border-radius: 8px;
  padding: 5px 8px 7px 8px;
/*  padding-bottom: 8px;*/
}
h2 {
  font-size: large;
  border-radius: 8px;
  padding: 2px 8px 4px 8px;
/*  padding-top: 2px;*/
/*  padding-bottom: 2px;*/
}
abbr {
  border-bottom: dotted 1px;
}
a {
  text-decoration: none;
}
a:link {
  color: #66F;
}
a:visited {
  color: #99F;
}
a:hover, a:focus {
  text-shadow: 1px 1px 10px black;
  text-decoration: underline;
  text-decoration-style: dotted; /* Only supported in Firefox */
}
a:active {
  color: #55F;
  top: 1px;
  left: 1px;
}
